.about {
  margin-bottom: 4rem;
}

.about p {
  margin-bottom: 2rem;
  color: var(--text-primary);
}

.about a {
  border-bottom: 1px solid var(--accent);
  padding-bottom: 2px;
}

.about a:hover {
  border-bottom-color: var(--hover-color);
}
